# Configs do Banco
PG_DB=nome_do_banco
PG_DB_USER=usuario_do_banco
PG_DB_PASSWORD=senha_do_banco
PG_DB_HOST=host
PG_DB_PORT=port

# Flask
DATABASE_URL=postgres://usuario:senha@hostname:port/nome_do_banco

# PGAdmin
PGADMIN_DEFAULT_EMAIL=email@email.com
PGADMIN_DEFAULT_PASSWORD=senha

# JWT
JWT_SECRET_KEY=sua_senha_jwt